@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать на сайт факультета</h1>
    </div>
    <p class="fig">
        <img src="~/images/index.png"
             width="1100" height="400" alt="Картинка">
    </p>
