@model Faculty.Models.SubjectsForSemester

@{
    ViewData["Title"] = "CreateSubjectsForSemesterId";
}

<h1>Добавить предмет для семетра: @ViewBag.SemesterNumber</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSubjectsForSemesterId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">ID Предмета</label>
                <input asp-for="SubjectId" class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label">ID Семестра</label>
                <input asp-for="SemesterId" class="form-control" />
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecture_scope" class="control-label">Кол-во лекций</label>
                <input asp-for="Lecture_scope" class="form-control" />
                <span asp-validation-for="Lecture_scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Practice_scope" class="control-label">Кол-во практик</label>
                <input asp-for="Practice_scope" class="form-control" />
                <span asp-validation-for="Practice_scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="laboratory_work_scope" class="control-label">Кол-во лабораторных работ</label>
                <input asp-for="laboratory_work_scope" class="form-control" />
                <span asp-validation-for="laboratory_work_scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class = "btn btn-info">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
